body {
    background-image: url('2024.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.row {
    display: flex;
    justify-content: space-around;
}

.Group {
    flex: 1; 
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    font-size: larger; 
    margin: 5px; 
}

.Group h2 {
    color: #007bff;
}

.Group ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
}

.Group button {
    margin: 5px 0;
    width: 100%;
}

.Group button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.Group label {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}

.Group input[type="checkbox"] {
    margin-right: 10px;
}

.Group button.selected {
    background-color: #28a745;
}

.Group button:not(.selected):hover {
    background-color: #007bff;
}

.Group button.first { 
    background-color: #28a745;
 } 
.Group button.second { 
    background-color: #17a2b8; 
} 
.Group button.third { 
    background-color: #ffc107; 
} 
